
*
  {box-sizing:border-box;}

body{
color: #333;
}

h1,p
{  text-align: center;
  color: #555}

.organizational-chart
{  display: flex;
  font-size: .75em;}

.organizational-chart ul
{  display: flex
  flex-direction column
  justify-content space-around
  margin: 0
  padding 0}

.organizational-chart li
  position relative
  height 2em
  min-width 3.5em
  max-width 10em
  margin:-bottom 2em
  padding .5em
  line-height 1
  list-style none
  text-align: center;
  white-space nowrap
  background-color: Tan

.organizational-chart ul:nth-last-child(2) li
  background-color: #459168 //DarkOrange

.organizational-chart ul:nth-last-child(3) li
  background-color: #007a85

.organizational-chart ul:nth-last-child(4) li
  background-color: Peru

.organizational-chart ul:nth-last-child(5) li
  background-color: #8c6c61

.organizational-chart ul:first-child li // Inputs
  background-color: Tan

.organizational-chart ul:last-child li // Final result
  background-color: Tomato

.organizational-chart li::before
.organizational-chart li::after
  content ''
  position absolute
  display: block
  box-sizing border-box

.organizational-chart li::before
  top 50%
  left 100%
  width 2em
  border 1px solid #555

.organizational-chart li::after
  top 0
  right -2em
  height 1em
  border 1px solid #555

.organizational-chart ul:last-child li::before
.organizational-chart ul:last-child li::after
  content none

.organizational-chart li:nth-child(odd)::after
  top 50%

.organizational-chart ul:nth-child(2) li::after
  height 3em

.organizational-chart ul:nth-child(2) li:nth-child(even)::after
  top -100%

.organizational-chart ul:nth-child(3) li::after
  height 7em

.organizational-chart ul:nth-child(3) li:nth-child(even)::after
  top -300%

.organizational-chart ul:nth-child(4) li::after
  height 15em

.organizational-chart ul:nth-child(4) li:nth-child(even)::after
  top -700%

.organizational-chart ul:nth-child(5) li::after
  height 31em

.organizational-chart ul:nth-child(5) li:nth-child(even)::after
  top -1500%

@media (max-width $sizeXS)

  .organizational-chart ul + ul li
    margin:-left -2em

  .organizational-chart ul li::before
    width 1em

  .organizational-chart ul li::after
    right -1em

@media (min-width $sizeXS)

  .organizational-chart ul + ul li
    margin:-left 1em

:root .organizational-chart li:empty // @note Permet le support des cases vides
  visibility hidden // @note Pas de 'display: none' afin de ne pas désorganiser les items
